*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Alata';
  src: url('../assets/fonts/Alata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: 'Alata';
  background-color: hsl(0, 0%, 100%);
  width: 100vw;
}
/* Heading ⬇️⬇️*/

.header {
  background-image: url('images/mobile/image-hero.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
  padding-block: 50px 200px;
  z-index: 2;

}

a {
  text-decoration: none;
  color: white;
}

nav a {
  transition: 0.3s ease;
}

nav a:hover {
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 45%);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
}

.hamburger-icon, .close-icon {
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.nav-list {
  display: none;
  flex-direction: row;
  list-style: none;
  color: white;
  gap: 20px;
}

.nav-list > li {
  position: relative;
}

.nav-list > li::before {
  position: absolute;
  content: "";
  top: 35px;
  width: 0%;
  transform: translateX(50%);
  height: 3px;
  background-color: white;
  transition: width .3s ease;
}

.nav-list > li:hover:before {
  width: 50%;
}


.hero-container {
  display: flex;
  align-items: center;
  margin-top: 300px;
  border: 3px solid white;
  padding: 30px;
  max-width: 550px;
  overflow: hidden;
}

.hero-message {
  color: white;
  font-size: clamp(30px, 9vw, 55px);
  font-family: 'Josefin Sans';
}

/* Menu ⬇️⬇️*/

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: hsl(0, 0%, 0%);
  height: 100vh;
  width: 100%;
  padding: 50px;
  opacity: 0;
  z-index: 1;
  transition: left ease-in 0.3s, opacity 0.3s;
} 

.show {
  left: 0;
  opacity: 1;
}
 
nav > ul {
  color: white;
  list-style: none;
  margin-top: 150px;
  font-size: 28px;
  line-height: 60px;
  font-family: 'Josefin Sans';
}

/* About ⬇️⬇️*/

.about-section {
  margin-block: 90px 120px;
}

.mobile-image {
  width: 100%;
}

.desktop-image {
  display: none;
  width: 100%
}

.section-title {
  font-size: 40px;
  text-align: center;
  font-family: 'Josefin Sans';
  font-weight: 500;
}

.about-message {
  min-width: 350px;
  text-align: center;
  line-height: 30px;
  color: hsl(0, 0%, 60%);
}

.about-message-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.creation-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.creation-image-container {
  display: grid;
  gap: 35px;
  margin-top: 70px;
}

.image-wrapper {
  position: relative;
}

.image-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 170px;
  color: white;
  font-family: 'Josefin Sans';
  font-size: 30px;
}

.btn {
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  border-width: 1.5px;
  padding: 15px 50px;
  margin-top: 40px;
  color: hsl(0, 0%, 0%);
  font-size: 20px;
  font-family: 'Josefin Sans';
}

.btn:hover {
  background-color: black;
  color: white;
}

.desktop-btn {
  display: none;
}

/* Footer ⬇️⬇️*/

.footer {
  background-color: hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  padding-block: 50px;
}

.footer-navs {
  color: hsl(0, 0%, 100%);
  list-style: none;
  text-align: center;
  line-height: 50px;
}

.footer-navs > li {
  position: relative;
}

.footer-navs > li::before {
  position: absolute;
  content: "";
  top: 45px;
  transform: translateX(50%);
  width: 0%;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease;
}

.footer-navs > li:active {
  color: hsl(0, 0%, 45%)
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  gap: 30px;
}

.icons {
  display: flex;
  gap: 25px;
}

.icons > .icon {
  position: relative;
  width: 25px;
}

.icons > .icon::before {
  position: absolute;
  content: "";
  top: 30px;
  width: 0%;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease;
}

.wrapper {
  padding-inline: clamp(15px, 6vw, 350px);
}

.copyright {
  font-family: 'Alata';
  color: hsl(0, 0%, 50%);
}


/* Media Queries ⬇️⬇️*/

@media (min-width: 900px) {
  .header {
    background-image: url('./images/desktop/image-hero.jpg');
    background-size: contain;
  } 

  .hamburger-icon {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .hero-container {
    padding: 30px;
    margin-top: 120px;
  }

  .about-section {
    max-height: 500px;
    margin-top: -80px;

  }

  .about-message-ctn {
    position: relative;
    top: -300px;
    left: 420px;
    width: 65%;
    background-color: white;
    padding: 60px;
  }

  .about-image {
    width: 65%;
  }

  .creation-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .desktop-btn {
    display: block
  }

  .mobile-btn {
    display: none;
  }

  .creation-header {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    margin-block: 0px;
  }

  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: block;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-navs {
    display: flex;
    gap: 30px;
  }

  .footer-navs > li:hover::before {
    width: 50%;
  }

  .footer-bottom {
    align-items: flex-end;
  }

  .icons > .icon:hover::before {
    width: 100%;
  }
}